.gray-b{
  background-color: gray;
}

.transBox{
  opacity: .5;
  filter: alpha(opacity=30);
}

.butBar{
  width: 100%;
  Background-color: #355EFF;
  color: white;
  padding: 10px 10px;
}

.bg-white{
  background-color: white;
}

.bg-banColor{
  background-color: #F3FBFB;
}
